@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(vendor/roboto-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(vendor/roboto-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
  height: 100%;
}

body {
  background: #eee;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 0.9em;
  -webkit-user-select: none;
}

::selection {
  background: #7D9E09;
}

#tasks, #settings {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

#tasks header {
  background-color: #fff;
  padding: 1em 0.5em;
}

#settings {
  background-color: #fff;
  padding: 1em;
  display: none;
}

ul {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 57px;
  overflow: scroll;
}

li {
  padding: 0.7em;

  cursor: pointer;
  list-style-type: none;
}

li:focus, li:active {
  background-color: #7D9E09;
  outline: none;
  color: #fff;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  background: #fff;
  border: none;
  padding: 0em;
  width: 80%;
  box-sizing: border-box;
}

input.search {

}

label {
  font-size: 1.5em;
  padding: 0.5em;
}

input:focus {
  outline: none;
}

button {
  font-size: 1.5em;
  font-weight: 300;
  background: #7D9E09;
  padding: 0.5em;
  display: block;
  margin: 1em 0;
  width: 100%;
  color: #fff;
  border: 0;
  outline: none;
}

h2 {
  margin: 0;
  font-weight: 300;
}

p {
  margin: 0.2em 0 0 0;
}

.id {
  display: none;
}
